include LICENSE
include NOTICE
include README.md
include VERSION

recursive-include torch_ttnn/cpp_extension/cmake *.cmake
recursive-include torch_ttnn/cpp_extension/third-party CMakeLists.txt

prune tests
