torch==2.2.1+cpu
torchvision==0.17.1+cpu

tabulate==0.9.0
networkx==3.1
graphviz
matplotlib==3.7.1
pysftp==0.2.9

ttnn @ https://github.com/tenstorrent/tt-metal/releases/download/v0.57.0-rc35/ttnn-0.57.0rc35+any-cp38-cp38-linux_x86_64.whl ; python_version=="3.8"
ttnn @ https://github.com/tenstorrent/tt-metal/releases/download/v0.57.0-rc35/ttnn-0.57.0rc35+any-cp310-cp310-linux_x86_64.whl ; python_version=="3.10"
