name: Empty Placeholder Workflow

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch name"
        required: true
        type: string

jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:
      - name: Print Hello
        run: echo "hello"