name: "Accuracy Tests"

on:
  workflow_dispatch:
    inputs:
      MockRun:
        description: "Array of test groups to run. If empty, all tests will be run."
        required: false
        default: ""
  schedule:
    - cron: "0 21 * * 6" # Run every Saturday at 9:00 PM UTC
permissions:
  actions: read
  contents: write
  pages: read
  id-token: write
  pull-requests: read

jobs:
  count-test-files:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.count-files.outputs.matrix }}
      num_files: ${{ steps.count-files.outputs.num_files }}
    env:
      MOCK_RUN: ${{ github.event.inputs.MockRun }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Count Test Files
        id: count-files
        uses: ./.github/actions/count_test_files
        with:
          test_directory: 'tests/models/'
  model-tests:
    needs: [count-test-files]
    runs-on: ["in-service", "nfs"]
    container: 
      image: ghcr.io/tenstorrent/pytorch2.0_ttnn/ubuntu-22.04-amd64:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GH_TOKEN }}
      options: >-
        --rm -v /dev/hugepages-1G:/dev/hugepages-1G --device /dev/tenstorrent
        -v ${{ github.workspace }}:${{ github.workspace }} -w ${{ github.workspace }}
        -v /mnt/tt-metal-pytorch-cache/.cache:/root/.cache
    env:      
      pytest_verbosity: 0
      XDG_CACHE_HOME: /root/.cache
      TORCH_HOME: /mnt/tt-metal-pytorch-cache/.cache/torch
      HF_HOME: /mnt/tt-metal-pytorch-cache/.cache/huggingface
    strategy:
      matrix:
        group: ${{ fromJson(needs.count-test-files.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          fetch-depth: 0    
      - name: docker-cleanup
        run: |
          docker system prune -a -f --volumes
          df -h  # Debug space
      - uses: ./.github/actions/common_model_tests
        with:
          splits: ${{ needs.count-test-files.outputs.num_files }}
          matrix_group: ${{ matrix.group }}
          commit_report: ${{ github.event.inputs.commit_report }}
      - name: Upload Accuracy Tests Artifact
        uses: actions/upload-artifact@v4
        with:
          name: autogen-accuracy-tests
          path: tests/autogen_accuracy_tests/

  gen-model-accuracy:
    needs: [model-tests]
    runs-on: ["in-service"]
    container: 
      image: ghcr.io/tenstorrent/pytorch2.0_ttnn/ubuntu-22.04-amd64:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GH_TOKEN }}
      options: >-
        --rm -v /dev/hugepages-1G:/dev/hugepages-1G --device /dev/tenstorrent
        -v ${{ github.workspace }}:${{ github.workspace }} -w ${{ github.workspace }}
    outputs:
      groups: ${{ steps.calculate-groups.outputs.groups }}
    env:
      PYTHONPATH: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/common_repo_setup        

      - name: Download All Accuracy Tests and Inputs Artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: model-accuracy-tests
          merge-multiple: true
          path: tests/autogen_accuracy_tests/

      - name: Calculate Number of Groups
        id: calculate-groups
        run: |
          # Count the number of test files
          num_groups=$(find tests/autogen_accuracy_tests -type f -name "*.py" | wc -l)
          # Ensure at least 1 group
          num_groups=$((num_groups > 0 ? num_groups : 1))
          # Generate the list of groups as JSON
          groups=$(seq 1 $num_groups | jq -c --slurp '.')
          echo "Found: $groups"
          echo "groups=$groups" >> $GITHUB_OUTPUT

  test-model-accuracy:
    needs: [gen-model-accuracy]
    runs-on: ["in-service", "nfs"]
    container: 
      image: ghcr.io/tenstorrent/pytorch2.0_ttnn/ubuntu-22.04-amd64:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GH_TOKEN }}
      options: >-
        --rm -v /dev/hugepages-1G:/dev/hugepages-1G --device /dev/tenstorrent
        -v ${{ github.workspace }}:${{ github.workspace }} -w ${{ github.workspace }}
        -v /mnt/tt-metal-pytorch-cache/.cache:/root/.cache
    env:
      PYTHONPATH: ${{ github.workspace }}
      XDG_CACHE_HOME: /root/.cache
      TORCH_HOME: /mnt/tt-metal-pytorch-cache/.cache/torch
      HF_HOME: /mnt/tt-metal-pytorch-cache/.cache/huggingface
    strategy:
      matrix:
        group: ${{ fromJson(needs.gen-model-accuracy.outputs.groups) }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/common_repo_setup        
      - name: docker-cleanup
        run: |
          docker system prune -a -f --volumes
          df -h  # Debug space
      - name: Download Accuracy Tests Artifact
        uses: actions/download-artifact@v4
        with:
          name: autogen-accuracy-tests
          path: tests/autogen_accuracy_tests/

      - name: Run Accuracy Tests
        run: |
          cd tests/autogen_accuracy_tests
          test_file=$(find . -type f -name "*.py" | sed -n "${{ matrix.group }}p")
          python3 -m pytest $test_file -s
          exit_code=$?
          if [ $exit_code -ne 0 ]; then
            echo "Tests failed with exit code $exit_code"
            exit $exit_code
          fi
          exit 0;
        shell: bash

  validate-results:
    if: ${{ always() }}
    runs-on: ubuntu-latest    
    needs: [test-model-accuracy]
    steps:
      - run: |
          model_result="${{ needs.test-model-accuracy.result }}"
          if [[ $model_result == "success" ]]; then
            exit 0
          else
            exit 1
          fi
